@use "sass:math";
@use "../style.scss";

.chart {
	max-height: 80vh;
}

.line {
	stroke: style.$primary;
}

.windpoint {
	stroke-width: 0.1px;
	stroke: style.$highlight;
	fill: style.$highlight;
}

.point {
	stroke: style.$primary;
}

.qc-fail {
	stroke: red;
}

.gridline {
	stroke: style.$secondary-dark;
	stroke-width: 0.5px;
}

.label-y {
	display: flex;
	fill: style.$secondary;
	color: style.$secondary;
	font-size: 0.3rem;
	line-height: 1;
}

.label-x {
	display: flex;
	fill: style.$secondary;
	color: style.$secondary;
	font-size: 0.3rem;
	position: relative;
	justify-content: flex-end;
	transform-origin: 100% 0;
	transform: translate(-100%) rotate(-45deg);
	white-space: nowrap;
}