@use "sass:math";
@use "../style.scss";

.chart {
	max-height: 80vh;
}

.line {
	stroke: var(--primary);
}

.windpoint {
	stroke-width: 0.1px;
	stroke: var(--highlight);
	fill: var(--highlight);
}

.point {
	stroke: var(--primary);
}

.qc-fail {
	stroke: red;
}

.gridline {
	stroke: var(--secondary-dark);
	stroke-width: 0.5px;
}

.label-y {
	display: flex;
	fill: var(--secondary);
	color: var(--secondary);
	font-size: 0.3rem;
	line-height: 1;
}

.label-x {
	fill: var(--secondary);
	color: var(--secondary);
	font-size: 0.3rem;
}