@use "../style.scss";

.error {
	display: flex;
	min-height: 128px;
	min-width: 128px;
	background: url('@/assets/error.png') 50% 50% no-repeat var(--background-color);
}

.errorMessage {
	text-align: center;
	color: var(--primary);
	font-weight: 700;
}