@use "../style.scss";

.error {
	display: flex;
	min-height: 128px;
	min-width: 128px;
	background: url('@/assets/error.png') 50% 50% no-repeat style.$background-color;
}

.errorMessage {
	text-align: center;
	color: style.$primary;
	font-weight: 700;
}