@use "../style.scss";

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url('@/assets/loading.png') 50% 50% no-repeat var(--background-color);
}