@use "../style.scss";

.button {
    cursor: pointer;
    box-sizing: border-box;
    height: 32px;
    fill: style.$highlight;
    margin: 2px;
    border-radius: 5px;
    background-color: style.$background-dark;
    color: style.$secondary;
    display: flex;
    align-items: center;
    padding: 5px;
}

.buttonIcon {
    padding-top: 2px;
    align-items: center;
}

.buttonLabel {
    font-weight: 500;
    font-size: 1.2rem;
    padding-right: 2px;
    padding-bottom: 2px;
}

.location {
    align-items: center;
}