@use "../style.scss";

.view-container {
    display: flex;
    margin: 5px;
}

.view {
    cursor: pointer;
    border-radius: 5px;
    background-color: style.$background-dark;
    color: style.$secondary;
    font-weight: 500;
    padding: 5px;
    margin: 2px;
}

.active {
    background-color: style.$primary;
    color: style.$background-dark;
}