@use "../style.scss";

.view-container {
    display: flex;
    margin: 5px;
}

.view {
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--background-dark);
    color: var(--secondary);
    font-weight: 500;
    padding: 5px;
    margin: 2px;
}

.active {
    background-color: var(--primary);
    color: var(--background-dark);
}