@import "../style.scss";

.subtitle {
	font-size: 1.2rem;
	text-align: center;
	color: $secondary;
	font-weight: 500;
}

.subtitleItem {
	display: inline-block;
	text-align: center;
	width: 100%;
	margin: 0 auto;
}
