$background-color: #0f172a;
$background-dark: #020617;
$primary: #3b82f6;
$secondary: #06b6d4;
$secondary-dark: #06b6d433;
$highlight: #f59e0b;

body {
	background-color: $background-color;
	font-family: 'Quicksand', sans-serif;
}