$background-color: #1a1a1c;
$background-dark: #0d0221;
$primary: #1985a1;
$secondary: #c5c3c6;
$secondary-dark: #c5c3c633;
$highlight: #f9c80e;

body {
	background-color: $background-color;
	font-family: 'Quicksand', sans-serif;
}