name: Deploy Preview Environment

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: azure
      url: ${{ steps.setup.outputs.primaryEndpoint }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
    
      - name: Set up preview environment
        uses: azure/arm-deploy@v1
        with:
          subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          resourceGroupName: ${{ secrets.AZURE_RG }}
          template: ./infrastructure/preview-storage.bicep
          failOnStdErr: false
          scope: resourcegroup

      - name: Install dependencies
        run: npm install
        
      - name: Build
        run: npm run build

      - name: Upload to preview storage
        uses: azure/CLI@v1
        with:
          inlineScript: |
              az storage blob upload-batch --account-name ${{ steps.setup.outputs.storageAccountName }}  --auth-mode key -d '$web' -s dist/weather/

      - name: Logout from Azure
        run: |
            az logout
        if: always()