name: Test

on:
  workflow_dispatch:
  workflow_call:
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'LICENSE'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6

    - name: Install dependencies
      run: npm install

    - name: Build
      run: npm run build

    - name: Install Playwright dependencies
      run: npx playwright install-deps

    - name: Install browsers
      run: npx playwright install

    - name: Test
      run: npm run test

    - name: Upload screenshots
      uses: actions/upload-artifact@v6
      id: artifact-upload-step
      with:
        name: screenshots
        path: screenshots/

    - name: Output artifact URL
      run:  echo 'Artifact URL is ${{ steps.artifact-upload-step.outputs.artifact-url }}'

